

.post {
    margin: 10px 0 0 0;
}


.color-try{
    background-color:#B76BA3;
    margin: auto;
    padding: 10%;
}


.card-text{
    color:white;
    background-color:#5F4B8B;
    text-decoration: none;

}

.card-text:hover{
    text-decoration: none;
}

#top-card{
    width: 40%;
}





